body {
  /* Specify the background image */
  background-image: url('img/bg.png');
  /* Repeat the background image vertically and horizontally */
  background-repeat: repeat;
  /* Make the background image scroll with the page */
  background-attachment: scroll;
  /* Optional: Set the background color in case the image is unavailable */
  background-color: #cccccc;
  margin: 0;
padding: 0;
width: 100%;
height: 100%;
}   
 html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
#scanner-container {
position: fixed;
top: 0;
width: 100%;
height: 33vw; /* Height is half the viewport width */
background-color: #f0f0f0; /* Light grey, change as needed */
z-index: 10;
overflow: hidden;
text-align: center; /* Center the content */
}
#gallery {
  margin-top: 33vw;
  display:grid;
  grid-template-columns: auto auto auto;
}
.gallery-item {
  padding: 5px;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1);
}

.animation {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-name: wiggle;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 25% { transform: rotate(-7.5deg); }
 50% { transform: rotate(5deg); }
 75% { transform: rotate(-3.5deg); }
100% { transform: rotate(0deg); }
}

